/* Custom tool bar */

#toolbar, #changelist-filter, .paginator-select, .admindatefilter form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#changelist-filter .admindatefilter .controls {
    display: none;
}

#changelist-filter {
    margin: 0;
    padding: 5px 15px 5px 15px;
}

#changelist-filter .admindatefilter p {
    padding: 0 25px 0 0;
    margin: 0;
    font-size: 0;
}

#changelist-filter .admindatefilter .errorlist li {
  color: #204a8e;
  background: #c9ddff;
  border: 1px solid #4c699b;
  font-size: 12px;
  line-height: 15px;
  width: 100px;
  position: absolute;
  margin-top: 15px;
  animation: ani 4.5s forwards;
}

@keyframes ani {
    0% {opacity: 1;}
  100% {opacity: 0;}
}

.hide {
    opacity: 0;
}

#changelist-filter .admindatefilter {
    padding-left: 0;
}


#changelist .paginator-select {
    padding-left: 5px;
    border-top: none;
    border-bottom: none;
    line-height: 24px;
    color: var(--body-quiet-color);
}

#changelist .paginator-select select, #changelist-filter select {
    border: 1px solid var(--border-color);
    font-weight: 300;
    height: 25px;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    background: var(--body-bg);
    box-shadow: 0 -15px 20px -10px rgb(0 0 0 / 15%) inset;
    cursor: pointer;
    color: var(--body-fg);
}


#changelist-filter h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

#changelist-filter .admindatefilter {
    border-bottom: none;
    padding-bottom: 0;
}

#toolbar form input {
    border: 1px solid var(--border-color);
    font-size: 0.8125rem;
    padding: 4px 8px;
    margin: 0;
    vertical-align: middle;
    background: var(--body-bg);
    box-shadow: 0 -15px 20px -10px rgb(0 0 0 / 15%) inset;
    cursor: pointer;
    color: var(--body-fg);
}


#changelist-filter ul {
    padding: 0;
    padding-left: 5px;
    line-height: 24px;
    color: var(--body-quiet-color);
    border-bottom: none;
}

#changelist-filter #changelist-filter-clear a {
    padding: 3px 10px 10px 10px;
    margin-right: 10px;
    width: 15px;
    height: 18px;
    background: url(../../icons/delete_filter_40.png) 0 1px no-repeat;
    border-bottom: none;
}
